{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Unique Digital{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
    <!-- Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/gotham-pro-font@1.0.0/fonts.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Share Button -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=662e200240fad400197773ab&product=inline-reaction-buttons&source=platform" async="async"></script>
</head>
<div class="body">
   {% load i18n %} <!-- Убедитесь, что загрузка i18n есть -->
    <!-- Loader Website -->
    <div class="container-loader">
      <div id="preloader" aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
            <div class="hamster__body">
                <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                </div>
                <div class="hamster__limb hamster__limb--fr"></div>
                <div class="hamster__limb hamster__limb--fl"></div>
                <div class="hamster__limb hamster__limb--br"></div>
                <div class="hamster__limb hamster__limb--bl"></div>
                <div class="hamster__tail"></div>
            </div>
        </div>
        <div class="spoke"></div>
    </div>
    </div>
  

    <section class="header">
      <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
              <!-- Меню слева -->
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav stroke">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans 'Главная' %}</a>
                      <a class="nav-link" href="{% url 'services' %}">{% trans 'Услуги' %}</a>
                      <a class="nav-link" href="{% url 'portfolio-list' %}">{% trans 'Портфолио' %}</a>
                      <a class="nav-link" href="{% url 'blog_index' %}">{% trans 'Блог' %}</a>
                  </div>
              </div>
              
              <!-- Логотип по центру -->
              <a class="navbar-brand mx-auto" href="/">
                  <img src="{% static 'images/logo-unique.svg' %}" alt="logo">
              </a>
              
              <!-- Кнопка "Оставить заявку" справа -->
              <div class="d-none d-lg-flex">
                  <a href="{% url 'inquiry' %}">
                      <button class="btn-order me-2" type="button">
                          <img src="{% static 'images/icons/mail_icon.svg' %}" alt="mailicon"> {% trans 'Оставить заявку' %}
                      </button>
                  </a>
              </div>

              <!-- <div class="dropdown pe-3">
                <button class="btn btn-lang dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{% static 'images/ru.svg' %}" alt="ru">
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><button class="dropdown-item text-white" onclick="setLanguage('en')">English</button></li>
                  <li><button class="dropdown-item text-white" onclick="setLanguage('ru')">Русский</button></li>
                  <li><button class="dropdown-item text-white tj-font" onclick="setLanguage('tj')">Тоҷикӣ</button></li>
                </ul>
              </div> -->
          </div>
      </nav>
  </section>
                  <!-- <label class="toggle me-2" for="switch">
                <input id="switch" class="input" type="checkbox">
                <div class="icon icon--moon">
                    <svg height="32" width="32" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" fill-rule="evenodd"></path>
                    </svg>
                </div>
            
                <div class="icon icon--sun">
                    <svg height="32" width="32" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"></path>
                    </svg>
                </div>
            </label>
            <button class="btn btn-outline-success me-2" type="button">RU</button> -->
    
    
    <section class="header-mobile">
      <nav class="navbar bg-body-dark text-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo-unique.svg' %}" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                <img src="{% static 'images/logo-unique.svg' %}" alt="logo">
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Услуги</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'portfolio-list' %}">Портфолио</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog_index' %}">Блог</a>
                </li>
              </ul>
              <a href="{% url 'inquiry' %}">
                <button class="btn-order me-4 mt-3" type="button">
                    <img src="{% static 'images/icons/mail_icon.svg' %}" alt="mailicon"> Оставить заявку
                </button>
            </a>
            </div>
          </div>
        </div>
      </nav>
    </section>


     <!-- Добавьте CSRF токен -->
     <script>
     function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function setLanguage(lang) {
            fetch('/set-language/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({language: lang})
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.error); });
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data); // Добавьте это для отладки
                const contentDiv = document.getElementById('content');
                if (contentDiv) {
                    contentDiv.innerHTML = data.content;
                } else {
                    console.error('Error: Element with id "content" not found.');
                }
            })
            .catch(error => console.error('Error:', error));
        }
  </script>



    {% block content %}
      
    {% endblock %}


    <footer class="footer bg-dark text-white pt-4 pb-2">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <ul class="footer-links">
                <li><a href="/" class="text-white">Главная</a></li>
                <li><a href="{% url 'services' %}" class="text-white">Услуги</a></li>
                <li><a href="{% url 'portfolio-list' %}" class="text-white">Портфолио</a></li>
                <li><a href="{% url 'blog_index' %}" class="text-white">Блог</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled footer-contact">
                <li><a href="tel:+9929136199" class="text-white">+992 918 36 19 99</a></li>
                <li><a href="tel:+992985311006" class="text-white">+992 985 31 1006</a></li>
                <a href="mailto:salom@unique-agency.tj" class="gold-link">salom@unique-agency.tj</a>
              </ul>
            </div>
            <div class="col-md-4 text-md-end">
              <a href="/" class="footer-logo">
                <img src="{% static 'images/footer-logo.svg' %}" width="180px" alt="logo" class="logo">
              </a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </footer>


      <section class="social-footer">
        <div class="container py-4">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
              <a href="#" class="me-2"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="me-2"><i class="fab fa-dribbble"></i></a>
              <a href="#" class="me-2"><i class="fab fa-telegram"></i></a>
            </div>
            <div class="col-md-6 text-center text-md-end">
              <small>
                <script>
                  document.write("&copy; "+ new Date().getFullYear()+ " Unique.  Все права защищены.");
                </script>
              </small>
            </div>
          </div>
        </div>
      </section>
      
      


     <script src="{% static 'js/script.js' %}"></script>
     <!-- Подключение Bootstrap JS и Popper.js через CDN -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async=""></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
