{% extends 'unique_app/base.html' %}

{% block content %}
<section class="blog">
  <div class="container mt-6">
    <div class="row">
      {% for post in posts %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 bg-dark">
            {% if post.image %}
              <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
              <div class="position-absolute top-0 end-0 py-2 px-3">
                {% for category in post.categories.all %}
                <span class="badge bg-secondary m-1">{{ category.name }}</span>
                {% endfor %}
              </div>
            {% endif %}
            <div class="card-body text-white">
              <h4 class="card-title"><a class="text-white text-decoration-none" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h4>
              <p class="card-text">{{ post.content|truncatewords:30 }}</p>
            </div>
            <div class="card-footer">
              <small class="text-white">{{ post.published_date|date:"d M Y" }}</small>
              <span class="text-secondary ms-2"><i class="fas fa-eye"></i> {{ post.views }}</span>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
