{% load i18n %}
<div class="content-hero">
    <p>{% trans "Unique - digital agency" %}</p>
    <h1>{% trans "Your success is ours" %}</h1> 
    <h1><span class="kurale-regular">{% trans "unique solution!" %}</span></h1>
    <a href="{% url 'inquiry' %}" class="button_hero">{% trans "Order a project or service" %}</a>
</div>

<div class="col-md-6 content-block">
    <div class="subtitle">{% trans "a little about us" %}</div>
    <div class="title">{% trans "A YOUNG AND TALENTED TEAM, IN LOVE WITH THEIR BUSINESS." %}</div>
    <div class="decorative-line"></div>
    <div class="text-block">{% trans "We specialize in graphic and UI/UX design, SMM promotion, targeted advertising, professional photography, creation of websites and web solutions, as well as automation and bot development." %}</div>
    <div class="text-block">{% trans "Our philosophy is based on continuous development and the pursuit of excellence." %}</div>
    <div class="text-block"><span>{% trans "Unique" %}</span> - {% trans "digital agency, your comprehensive solution" %}<span>🙌</span></div>
</div>
