<!-- web_development.html -->
{% extends "unique_app/base.html" %}
{% load static %}


{% block content %}
<section class="services-section">
    <div class="container py-5">
        <div class="row mb-3">
            <div class="col">
                <h1 class="text-white">НАШИ КЛЮЧЕВЫЕ УСЛУГИ</h1>
                <hr>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 mb-4">
                <div class="service-box">
                    <h3>ВЕБ - РАЗРАБОТКА</h3>
                    <p>Мы создаем современные, быстрые и безопасные веб-сайты и приложения, адаптированные под нужды вашего бизнеса.</p>
                    <a class="btn-more" href="{% url 'web-development' %}">
                        Подробнее  <img class="service-arrow" src="{% static 'images/icons/arrow.svg' %}" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="service-box">
                    <h3>ДИЗАЙН</h3>
                    <p>Наши дизайнеры разрабатывают уникальные визуальные решения, которые помогут вашему бренду выделиться.</p>
                    <a href="{% url 'design-services' %}" class="btn-more">Подробнее  <img class="service-arrow" src="{% static 'images/icons/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="service-box">
                    <h3>SMM - ПРОДВИЖЕНИЕ</h3>
                    <p>Мы предлагаем комплексные услуги по продвижению в социальных сетях, нацеленные на увеличение узнаваемости бренда.</p>
                    <a  href="{% url 'smm-services' %}" class="btn-more">Подробнее  <img class="service-arrow" src="{% static 'images/icons/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <h3>Таргетированная реклама</h3>
                    <p>Разрабатываем и реализуем таргетированные рекламные кампании, которые точно достигают вашей аудитории в интернете. Используем передовые технологии и аналитику для максимизации ROI и обеспечения высокой эффективности рекламы.</p>
                    <a class="btn-more">Подробнее  <img class="service-arrow" src="{% static 'images/icons/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <h3>SEO - Оптимизация</h3>
                    <p>Повышаем видимость вашего сайта в поисковых системах через комплексную SEO-оптимизацию, включая работу с контентом, улучшение технической части сайта и стратегию внешних ссылок. Наша цель — увеличить органический трафик и улучшить позиции сайта.</p>
                    <a href="{% url 'seo-services' %}" class="btn-more">Подробнее  <img class="service-arrow" src="{% static 'images/icons/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <h3>Веб аналитика</h3>
                    <p>Предоставляем услуги по веб-аналитике, которые помогают понять поведение пользователей на вашем сайте и эффективность маркетинговых кампаний. Мы используем эти данные для оптимизации сайтов и увеличения конверсии, анализируя все аспекты взаимодействия с аудиторией.</p>
                    <a href="{% url 'web-analytics' %}" class="btn-more">Подробнее  <img class="service-arrow" src="{% static 'images/icons/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-white">КАК МЫ РАБОТАЕМ</h1>
                <hr>
            </div>
            <div class="col-md-12">
                 <!-- Блок только для мобильных устройств -->
            <div class="timeline-mobile">
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>1. Анализ и планирование</h3>
                        <p>Каждый проект начинается с тщательного изучения потребностей и целей клиента. Мы проводим аудит существующих решений, анализируем рынок и конкурентов, чтобы разработать стратегию, которая будет максимально эффективной и ориентированной на результат.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>2. Разработка стратегии</h3>
                        <p>На основе собранных данных мы разрабатываем индивидуальную стратегию, которая включает в себя все аспекты работы: от дизайна и создания контента до маркетинга и технической поддержки. Мы устанавливаем реальные сроки и этапы реализации проекта, обеспечивая клиента полным пониманием процесса.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>3. Реализация проекта</h3>
                        <p>После утверждения стратегии начинается активная фаза реализации. Наши специалисты приступают к разработке проекта, используя современные технологии и методологии. Мы регулярно демонстрируем клиенту промежуточные результаты для обеспечения полного контроля и возможности вносить коррективы на ранних этапах.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>4. Тестирование и запуск</h3>
                        <p>Перед окончательным запуском проект проходит комплексное тестирование на ошибки и несоответствия. Это позволяет нам гарантировать, что все функции работают корректно, а сайт или приложение полностью готовы к работе с реальными пользователями.</p>
                    </div>
                </div>
            </div>
            <!-- Конец блока только для мобильных устройств -->

                <div class="timeline">
                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-content">
                            <h3>1. Анализ и планирование</h3>
                            <p>Каждый проект начинается с тщательного изучения потребностей и целей клиента. Мы проводим аудит существующих решений, анализируем рынок и конкурентов, чтобы разработать стратегию, которая будет максимально эффективной и ориентированной на результат.</p>
                        </div>
                    </div>
                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-content">
                            <h3>2. Разработка стратегии</h3>
                            <p>На основе собранных данных мы разрабатываем индивидуальную стратегию, которая включает в себя все аспекты работы: от дизайна и создания контента до маркетинга и технической поддержки. Мы устанавливаем реальные сроки и этапы реализации проекта, обеспечивая клиента полным пониманием процесса.</p>
                        </div>
                    </div>
                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-content">
                            <h3>3. Реализация проекта</h3>
                            <p>После утверждения стратегии начинается активная фаза реализации. Наши специалисты приступают к разработке проекта, используя современные технологии и методологии. Мы регулярно демонстрируем клиенту промежуточные результаты для обеспечения полного контроля и возможности вносить коррективы на ранних этапах.</p>
                        </div>
                    </div>
                    <div class="timeline-item timeline-item-left">
                        <div class="timeline-content">
                            <h3>4. Тестирование и запуск</h3>
                            <p>Перед окончательным запуском проект проходит комплексное тестирование на ошибки и несоответствия. Это позволяет нам гарантировать, что все функции работают корректно, а сайт или приложение полностью готовы к работе с реальными пользователями.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="mb-4 text-center text-white py-4">С ЧЕМ К НАМ ОБРАЩАЮТСЯ?</h2>
                <div class="services-decor-list">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="services-list">
                                <li>Нужен современный сайт, который бы отлично смотрелся на всех устройствах и привлекал целевую аудиторию.</li>
                                <li>Хочу увеличить видимость моего бизнеса в соцсетях и привлечь новых клиентов через Facebook, Instagram и другие платформы.</li>
                                <li>Мой сайт теряется среди конкурентов в поисковых системах. Нужна оптимизация для улучшения позиций.</li>
                                <li>Ищу профессиональных создателей контента, которые могли бы рассказать о моем продукте уникальным и запоминающимся способом.</li>
                                <li>Мне нужен новый логотип и фирменный стиль, который точно отразит эссенцию моего бренда.</li>
                                <li>Моя компания нуждается в цифровизации бизнес-процессов. Ищу решения для оптимизации работы и увеличения эффективности.</li>
                                <li>Нужен анализ эффективности моего сайта и рекомендации по улучшению конверсии и пользовательского опыта.</li>
                                <li>Хочу разработать мобильное приложение для iOS и Android, чтобы мои клиенты могли пользоваться моими услугами в любое время с любого устройства.</li>
                            </ul>
                        </div>
                        <!-- <div class="col-md-6">
                            <ul class="services-list">
                                <li>Нам нужно создать чатбота</li>
                                <li>Мне нужно внедрить сквозную аналитику</li>
                                <li>Нам надо придумать и проверить маркетинговые гипотезы</li>
                                <li>Хочу запустить A/B-тестирование</li>
                                <li>Нужно оказать аналитическую поддержку</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 help-block">
                <h1>МЫ МОЖЕМ ПОМОЧЬ ВАШЕМУ БИЗНЕСУ</h1>
                <hr>
                <p>Начнем с обсуждения Вашей задачи</p>
                <a href="{% url 'inquiry' %}">
                    <button type="button" class="btn btn-dark">Оставить заявку</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
